body{
  margin: 0;
}
.container-5{
  border: 1px solid black;
  margin: 0 auto;
  width: 75%;
  text-align: center;

}
.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row; /*this guides 'you:0','dealer:0' to make it in one line*/
  padding: 10px;
  justify-content: space-around;
  border:1px solid black;
}

.flex-blackjack-row-1,.flex-blackjack-row-2{
  background-image: url('../IMAGES/background.jpg');
  color:#ffffff;
}
.flex-blackjack-row-1 div{
  border: 1px solid black;
  padding: 10px;
  height: 250px;
  text-align: center;
  flex:1; /*to five equal amount of spaces to both divs*/
}
.flex-blackjack-row-1 img{
  width:25%;
  padding: 10px;
}
.flex-blackjack-row-2 button{
  border:1px solid black;
  padding: 10px;
}
.flex-blackjack-row-2 div{
  border: 1px solid black;
  padding: 10px;
}

table, th, td{
  border:1px solid black;
}


/*------buttons---------*/
.btn{
  width:flex;
  padding:10px;
  border-radius: 5px;
  border:none;
  color:white;
  margin:2px;
}
.btn-primary{
 background-color:rgba(57, 146, 247, 0.959);
}
.btn-primary:hover{
  background-color:rgba(8, 119, 247, 0.959);
}
.btn-warning{
 color:black;
 background-color: rgba(255, 255, 0, 0.925);
}
.btn-warning:hover{
  background-color: rgba(211, 211, 9, 0.925);
}
.btn-danger{
background-color: rgb(218, 3, 3);
}
.btn-danger:hover{
  background-color: rgb(182, 3, 3);
}